#indexbody {
    background-image: url("../images/imagen\ principal\ fondo\ index.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .tituloindex {
        color: black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 4rem;
    }
}

