* {
    padding: 0px;
    margin: 0px;
}

body {

    background-color: rgb(7, 7, 7);
    color: aliceblue;
    min-height: 100vh;
    
}


.flex-container {
    display: flex;
}

.card-text {
    color: black;
}

footer { 
    margin-top: 600px;
    
}







/* index */

#indexbody {
    background-image: url("../images/imagen\ principal\ fondo\ index.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.tituloindex {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
}


/* formulario */

form {
    border: solid;
    border-radius: 5px;
    box-shadow: 7px 15px 40px;
}


/* galeria */

.contenedor {
    width: 100%;
    margin: auto;
}

.cuchillos .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    
}

.cuchillos .contenedor img {
    width: 300px;
    height: 250px;
}

.cuchillos .contenedor img:hover {
    box-shadow: 4px 4px 4px rgb(14, 7, 7);
    filter: opacity(0.5);
}

/* responsive */

/* tipos de cuchillo */

@media (max-width: 768px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

h1 {
    text-align: center;
    padding-bottom: 50px;
}



/* Galeria responsive*/

.grid-galeria img {
    width: 80vw;
    height: 25vh;
}